# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle  #Name of the workflow

on:   #Events what will trigger the workflow. Here it is triggered on push or pull request to master branch.
      # Can be changed as per requirement like adding other branches or tags.
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs: #Jobs define what to run in the workflow
  build-java:  #Name of the job

    runs-on: ubuntu-latest
    
    steps: #Steps represent a sequence of tasks that will be executed as part of the job. Theya are combination of actions and shell commands.
    - uses: actions/checkout@v2  #This action checks-out your repository under $GITHUB_WORKSPACE, so your workflow can access it.
                                 # Here v2 is the version of the action and @ is used to specify the version.
                                 #checkout action is maintained by GitHub by searching "actions/checkout" in GitHub marketplace.
                                 #URL https://github.com/features/actions

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v4
      with:
        image: nanajanashia/demo-app
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
         
